@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.commonBtn {
  padding: 8px 24px !important;
  background-color: #124c5f;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}
.commonBtn:hover {
  background-color: #c7e7e1;
  color: #124c5f;
}

button {
  transition: all linear 0.25s;
}

/* ==========N Start======= */
.navbar {
  margin-top: 35px;
  position: static;
  background-color: white;
}
.navList ul {
  gap: 57px;
}
.navList ul li a {
  color: #000;
  font-weight: bold;
  font-size: 15px;
  line-height: auto;
  text-transform: uppercase;
}
.navBtn {
  display: flex;
  gap: 15px;
}
/* ==========N End======= */

/* ==========Banner Start======= */
#banner {
  background-image: url(../images/bannerBgc.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 720px;
}
/* .bannerWrap{
    display: flex;
    justify-content: space-between;
} */
.bannerContent {
  margin-top: 149px;
}
.bannerContent h1 {
  font-size: 44px;
  font-weight: 400;
  font-family: "Pangolin", cursive;
  letter-spacing: 5%;
  line-height: 130%;
  color: black;
}
.bannerContent span {
  display: block;
}
.bannerContent p {
  font-size: 19px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5%;
  line-height: 138%;
  color: #181817;
  max-width: 432px;
  margin: 50px 0;
}
.bannerImg {
  background-image: url(../images/bannerDog.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
}

/* ==========Banner End======= */

/* ==========services Start======= */
#services {
  padding: 63px 0;
}
.servicesHeading h3{
    position: relative;
    color: #000;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 85px;
}
.servicesHeading h3::after {
  content: "";
  width: 120px;
  height: 3px;
  background-color: #3A8DA8;
  position: absolute;
  top: 50px;
  left: 0;
}
.serviceContent{
    background-color: white;
    box-shadow: 1px 1px 1px 1px #98F2E1;
}
.serviceContent p{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin-top: 17px;
}
/* ==========services End======= */

/* font-family: "Pangolin", cursive; */
/* font-family: "Roboto", sans-serif; */
/* ==========N Start======= */
/* ==========N End======= */

/* ==========N Start======= */
/* ==========N End======= */
